.balance {
	position: relative;
    width: 100px;
    float: left;
}

.flow {
	position: relative;
    width: 100px;
    float: left;
}

.input-num {
	height: 35px !important;
}

.simple-form {
	text-align: center;
	width: 100%;
}