.balance {
	position: relative;
    width: 100px;
    float: left;
}

.flow {
	position: relative;
    width: 100px;
    float: left;
}

.input-num-swap {
	float: left;
	width: 100px;
	height: 35px !important;
}
.input-num {
	height: 35px !important;
}

.simple-form {
	text-align: center;
	width: 100%;
	height: 75px;
	margin: 5px;
}