.thumbnail-spectrum {
	max-width: 100%;
    max-height: 100%;
	border-radius: 7px;
  	cursor: crosshair;
}

.pool-key {
  width: 570px;
  margin-bottom: 10px;
}

.lean-agreement {
	background: aliceblue;
    height: 30px;
}

.spectrum-item {
	  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 120px;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 200px;
  width: 200px;
  margin: 10px;
  margin: 10px;
  font-size: 1rem;
  font-weight: 100;
  color: #656565; 
  border-radius: 7px;
  background: white;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
  will-change: transform;
  cursor: crosshair;
}

.spectrum-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  border-radius: 3px;
  transition: opacity 0.1s ease-in;
  will-change: opacity;
  opacity: 0;
  cursor: crosshair;
}

.spectrum-item:hover {
  transform: translate(0, -10px);
  transform: translate3d(0, -10px, 0);
  color: white; 
  cursor: 'crosshair';
}
.spectrum-item:hover:before {
  opacity: 1;
}